name: CI
on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12']

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e ".[dev,all]"

      - name: Download required data
        run: |
          python -m spacy download en_core_web_sm
          python -m nltk.downloader vader_lexicon

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: '1.4.550'

      - name: Clean notebooks
        run: nbdev-clean

      - name: Run nbdev-prepare
        run: |
          mkdir -p _proc/_docs
          nbdev-prepare

      - name: Run tests
        run: nbdev-test --n_workers 2

      - name: Build docs
        run: nbdev-docs
